* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;
    background-color: #2C3E50;
}

.my_bars {
    color: gray;
    font-size: 30px;
}


/* debug */