* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.my_white {
    color: white;
}


/* FINE COMMON */


/* HEADER */
header {
    width: 100%;
    height: 100px;
    background-color: #2C3E50;
}

.my_bars {
    color: gray;
    font-size: 30px;
}
/* FINE HEADER */


/* JUMBOTRON */
#my_avatar {
    width: 250px;
}

#jumbotron {
    background-color: #1ABC9C;
    width: 100%;
}

.my_element i.fa-star {
    display: inline-block;
    width: 8%;
    font-size: 30px;
}


#my_font-tit {
    font-size: 4em;
}

.my_line {
    width: 10%;
    height: 6px;
    border-radius: 3px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* FINE JUMBOTRON */



/* debug */