* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.my_white {
    color: white;
}

.my_black {
    color: #333333;
}

.my_white-bg {
    background-color: white;
}

.my_black-bg {
    background-color: #333333;
}

.my_line {
    width: 10%;
    height: 6px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.my_element i.fa-star {
    display: inline-block;
    width: 8%;
    font-size: 30px;
}
/* FINE COMMON */


/* HEADER */
header {
    width: 100%;
    height: 100px;
    background-color: #2C3E50;
}

.my_bars {
    color: gray;
    font-size: 30px;
}
/* FINE HEADER */

/* MAIN */
/* JUMBOTRON */
#my_avatar {
    width: 250px;
}

#jumbotron {
    background-color: #1ABC9C;
}

#my_font-tit {
    font-size: 3em;
    font-weight: 700;
}
/* FINE JUMBOTRON */
#portfolio {
    width: 100%;
}

 .my_portfolio {
    color: #333333;
    font-size: 3em;
    font-weight: 700;
}

.my_img {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 6px;
    margin-right: 6px;
    object-fit: cover;
}

.my_item {
    position: relative;
}
.my_layover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    line-height: 400px;
    vertical-align: middle;
    margin-left: 6px;
    text-align: center;
    font-size: 60px;
    color: white;
    background-color: rgba(26, 188, 156, 0.4);
    display: none;
}

.my_item:hover .my_layover {
    display: inline-block;
}
#about {
    margin-top: 50px;
    background-color: #1ABC9C;
}

.my_about {
    font-size: 3em;
    font-weight: 700;
}

.my_form {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-top: 20px;
    font-weight: 600;
}

.my_submit {
    background-color: #1ABC9C;
}

.my_send {
    height: 50px;
}
/* FINE MAIN */


/* FOOTER */
#footer_top {
    margin-top: 40px;
    background-color: #3A546D;
}

#my_green {
    color: #1ABC9C;
}

#footer_bot {
    background-color: #2C3E50;
}
/* FINE FOOTER */
